absl-py==0.6.1
astor==0.7.1
bleach==1.5.0
Click==7.0
cycler==0.10.0
decorator==4.3.0
Flask==1.0.2
gast==0.2.0
grpcio==1.16.0
h5py==2.8.0
html5lib==0.9999999
itsdangerous==1.1.0
Jinja2==2.10
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.1.2
mock==2.0.0
networkx==2.2
numpy==1.14.0
opencv-python==3.4.0.12
pbr==5.1.1
Pillow==5.0.0
pkg-resources==0.0.0
protobuf==3.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
tb-nightly==1.13.0a20181109
tensorboard==1.12.0
tensorflow==1.5.0
tensorflow-estimator==1.10.12
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
tf-nightly==1.13.0.dev20181109
Werkzeug==0.14.1
